/* First section */

body{
font-family: "Montserrat";
}

#title{
  background-color: #FF005C;
  color: #fff;
}
h1{
 font-family: "Montserrat";
 font-weight: bold;
 font-size: 3rem;
 line-height: 1.5;
}
h2{
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
  text-align: center;
}
em{
  font-family: "Montserrat";
  font-weight: normal;
  font-size: 2rem;
  font-weight: normal;
}
.pricing{
  font-size: normal;
  font-weight:bold;
  padding: 0px;
  text-align: left;
}
/* paragraph elements */

.container-fluid{
  padding: 3% 15% 7%;
}
/* navigation bar */
.navbar{
  padding: 0 0 4.5rem;
}
.nav-item{
  padding: 0px 18px;
}
.nav-link{
  font-size: 1.5rem;
  font-family: 'Montserrat light', sans-serif;
  font-weight:normal;
}
.navbar-brand{
  font-family: 'Sacramento', cursive;
  font-size: 4rem;
  font-weight:bold;
}
/* buttons */
.download-button{
  margin-top: 0px;
  margin-bottom:8px;
  margin-right: 18px;
  border-width: thick;
}
/* title image */
.titleimage{
  margin-left: 100px;
 transform: rotate(25deg);
 position: absolute;
 right: 30%;
}
/* second section */
/* features section */
#features{
  padding: 7% 5%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.favicons{
  margin: 0 40%;
}
.feature-box{
  text-align: center;
}
/* Testimonials section */
#testimonials{
  text-align: center;
  color: #fff;
  background-color: #FF005C;
  font-family: "Montserrat"
  font-weight: normal;
  font-size: 1rem;
}
.testimonial-image{
  border-radius: 100%;
  width: 10%;
}
#press{
  background-color: #FF005C;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo{
  width: 15%;
  margin: 20px 15px 15px 50px;
}
.carousel-item{
  padding: 7% 15%;
}
/* Cards section */
main{
  padding: 150px;
  background-color: #FF005C;
}
.card-body{
  background-color: #fff;
}
.pricing-header{
  padding-bottom: 80px;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
  text-align: center;
}
@media(max-width:991px){
  .titleimage{
    position: static;
    margin-top: 3.125rem;
    margin-left: 5rem;
    margin-right: 5rem;
    transform: rotate(0);

  }
  #title{
    text-align: center;
  }
  .working{
    margin: 0 25%;
  }
}
@media (max-width:1060px){
  main{
    padding: 0.625rem;
    padding-top: 3.125rem;
  }
}
@media(max-width:767px){
  main{
    padding: 150px;
  }
}
/* footer section */
#cta{
  background-color: #ff005c;
  color: #fff;
  padding: 3.125rem;
}
.textcta{
  color: #fff;
}
footer{
background-color: #fff;
text-align:center;
padding: 7% 15%;
}
.social-icon{
  margin: 20px 10px;
}
.footer-a{
  color: black;
}
.footerbuttons{
  text-align: center;
}
.texttext{
  color: #fff;
  text-align: center;
  margin-bottom: 0px;
}
